# Root directory of the project repo.
PROJECT_ROOT="/path/to/skarf-experiments"

# Path to HCP-1200 data including all cifti space preprocessed fMRI data.
# Download from s3 using:
#
#    aws s3 sync s3://hcp-openaccess/HCP_1200/ "${HCP_1200_DIR}" \
#    --exclude "*" \
#    --include "*/MNINonLinear/Results/?fMRI_*/?fMRI_*_Atlas_MSMAll*.dtseries.nii"
HCP_1200_DIR="/path/to/hcp_1200"

# Path to HCP-1200 behavioral data. Download from connectome DB:
# https://db.humanconnectome.org/data/projects/HCP_1200.
HCP_PHENO_UNRESTRICTED="/path/to/hcp_pheno/unrestricted.csv"
HCP_PHENO_RESTRICTED="/path/to/hcp_pheno/restricted.csv"

# Matplotlib plotting style
MPL_STYLE="${PROJECT_ROOT}/resources/clane.mplstyle"

# Path to octave installation
OCTAVE_PATH="/path/to/octave"
PATH="${PATH}:${OCTAVE_PATH}"
