[submodule "submodules/skarf"]
	path = submodules/skarf
	url = git@github.com:childmindresearch/skarf.git
[submodule "submodules/yaspy"]
	path = submodules/yaspy
	url = git@github.com:childmindresearch/yaspy.git
[submodule "submodules/krakencoder"]
	path = submodules/krakencoder
	url = https://github.com/kjamison/krakencoder.git
