.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim
*.swp

# Distribution / packaging
*.egg-info/
dist
build
_version.py

# VScode IDE
.vscode/

# Virtual environments
.venv

# Local data and scratch
.scratch/
data/
logs/
results/
resources/schaefer_parcellations
